<!-- partials/loader.html -->
 
<div id="initial-loader" class="initial-loader">
    <div class="loader-content">
        <div id="brand-text" class="brand-text">
            <span class="brand-text-content">
                <!-- Words will be created by JavaScript -->
            </span>
        </div>
        <div id="hero-text" class="hero-text">
            <div class="typing-text">Empowering Minds to Shape the Future of Technology</div>
        </div>
    </div>
</div>

<!-- Loader Overlay -->
<div id="loader-overlay" class="loader-overlay">
    <span></span>
    <span></span>
    <span></span>
</div>
