<!-- partials/contact_form.html -->
 
{% block page_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/partials/contact_form.css') }}">
{% endblock %}

<section id="cs-contact-549">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">We'd Love to Hear From You!</h2>
            <p class="cs-text">
                For inquiries, collaboration, or more information about Quantum Minds, feel free to reach out.
            </p>
        </div>
        <iframe class="cs-background" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1617.6353010771552!2d81.91091829924964!3d25.34337240337759!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3985497f856b1d35%3A0xf727c4fc418f7b17!2sUnited%20College%20of%20Engineering%20and%20Research!5e0!3m2!1sen!2sin!4v1735049028561!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <form class="cs-form" id="cs-form-549" name="Contact Form" method="post">
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-549" name="name" placeholder="Name">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://i.postimg.cc/Ss27rPyF/person.png" alt="person icon" width="32" height="32">
            </label>
            <label class="cs-label cs-email">
                Email
                <input class="cs-input" required type="text" id="email-549" name="email" placeholder="Email">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://i.postimg.cc/3rGF0zS2/mail.png" alt="mail icon" width="32" height="32">
            </label>
            <label class="cs-label cs-phone">
                Phone
                <input class="cs-input" required type="text" id="phone-549" name="phone" placeholder="Phone">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://i.postimg.cc/gJCyBKJw/phone.png" alt="phone icon" width="32" height="32">
            </label>
            <label class="cs-label cs-phone">
                How did you hear about us?
                <input class="cs-input" required type="text" id="phone-549" name="referral" placeholder="Google">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://i.postimg.cc/nrqK8Qj3/refer.png" alt="talking icon" width="32" height="32">
            </label>
            <label class="cs-label cs-textarea-label">
                Message
                <textarea class="cs-textarea" required name="message" id="message-549" placeholder="Write message..."></textarea>
            </label>
            <button class="cs-submit" type="submit">Send</button>
        </form>
    </div>
</section>