/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #meet-team-220 {
        /* centers the button */
        text-align: center;
        padding: var(--sectionPadding);
    }
    #meet-team-220 .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #meet-team-220 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }
    #meet-team-220 .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: inherit;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--primary);
        margin-bottom: 0.25rem;
        display: block;
    }
    #meet-team-220 .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        max-width: 43.75rem;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
        position: relative;
    }
    #meet-team-220 .cs-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        max-width: 40.625rem;
        margin: 0;
        color: var(--bodyTextColor);
    }
    #meet-team-220 .cs-picture {
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 0.25rem;
        display: block;
        position: relative;
        aspect-ratio: 0.925;
        /* clips the corners off the image tag */
        overflow: hidden;
    }
    #meet-team-220 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Makes image behave like a background image */
        object-fit: cover;
        transition: transform 0.7s;
    }
    #meet-team-220 .cs-card-group {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
    #meet-team-220 .cs-item {
        list-style: none;
        /* Changes on tablet */
        width: 100%;
        max-width: 21.25rem;
        /* 16px - 20px */
        padding: clamp(1rem, 2vw, 1.25rem);
        padding-bottom: 1.25rem;
        background: #f1f1f4;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* prevents padding from adding to height and width */
        box-sizing: border-box;
    }
    #meet-team-220 .cs-item:hover .cs-picture img {
        transform: scale(1.1);
    }
    #meet-team-220 .cs-name {
        font-size: 1.25rem;
        line-height: 1.2em;
        font-weight: 700;
        margin-bottom: 0.25rem;
        color: var(--headerColor);
        display: block;
    }
    #meet-team-220 .cs-job-title {
        font-size: 1rem;
        margin-bottom: 0.75rem;
        color: var(--headerColor);
        display: block;
    }
    #meet-team-220 .cs-social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
    }
    #meet-team-220 .cs-link {
        /* 28px - 32px */
        width: clamp(1.75rem, 3vw, 2rem);
        /* 28px - 32px */
        height: clamp(1.75rem, 3vw, 2rem);
        /* After making the a tag into a box, we center the image inside of it */
        border-radius: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        /* creates the 3D space for the 3D effect when spinning */
        transform-style: preserve-3d;
        perspective: 700px;
    }
    #meet-team-220 .cs-link:hover img {
        transform: translateY(-0.3125rem) rotateY(360deg);
    }
    #meet-team-220 .cs-link img {
        width: 0.875rem;
        height: auto;
        transition: transform 0.7s;
    }
    #meet-team-220 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #meet-team-220 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #meet-team-220 .cs-button-solid:hover:before {
        width: 100%;
    }
    #meet-team-220 .cs-graphic {
        width: 100%;
        max-width: 26.82352941rem;
        margin: 0 0 1rem 0;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #meet-team-220 .cs-container {
        max-width: 80em;
    }
    #meet-team-220 .cs-card-group {
        flex-direction: row;
    }
    #meet-team-220 .cs-item {
        width: 31%;
    }
    #meet-team-220 .cs-picture {
        /* 240px - 360px */
        height: clamp(15rem, 31.25vw, 22.5rem);
        aspect-ratio: none;
    }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode #meet-team-220 .cs-topper {
        color: var(--primaryLight);
    }
    body.dark-mode #meet-team-220 .cs-title,
    body.dark-mode #meet-team-220 .cs-text,
    body.dark-mode #meet-team-220 .cs-name,
    body.dark-mode #meet-team-220 .cs-job-title {
        color: var(--bodyTextColorWhite);
    }
    body.dark-mode #meet-team-220 .cs-item {
        background-color: var(--medium);
    }
    body.dark-mode #meet-team-220 .cs-link img {
        /* makes the image 50% brighter */
        filter: brightness(150%);
    }
}