{% macro load_global_links() %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icon-192.png') }}">
{% endmacro %}
