{% macro load_global_js() %}
    <!-- Essential Scripts -->
    <script src="{{ url_for('static', filename='js/loader-animation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scriptManager.js') }}"></script>
    <script src="{{ url_for('static', filename='js/router.js') }}"></script>
    <script src="{{ url_for('static', filename='js/initial-loader.js') }}"></script>
    
    <!-- Service Worker Registration -->
    <script src="{{ url_for('static', filename='js/register-sw.js') }}"></script>
{% endmacro %}
