@media only screen and (min-width: 0rem) {
    #reviews-306 {
        overflow: hidden;
        position: relative;
    }
    #reviews-306 .cs-image {
        width: 100%;
        max-height: 28.125rem;
        display: block;
        position: relative;
        aspect-ratio: 0.94736842;
    }
    #reviews-306 .cs-image img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #reviews-306 .cs-content {
        max-width: 39.375rem;
        padding: var(--sectionPadding);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
    }
    #reviews-306 .cs-review {
        font-size: clamp(1.5625rem, 3.9vw, 2.4375rem);
        text-align: left;
        margin: 0;
        margin-bottom: clamp(1.75rem, 3vw, 2.5rem);
        color: var(--bodyTextColor);
    }
    #reviews-306 .cs-quote {
        width: 2.5rem;
        height: auto;
        margin-bottom: 2rem;
        display: block;
    }
    #reviews-306 .cs-info {
        display: flex;
        justify-content: auto;
        align-items: center;
    }
    #reviews-306 .cs-flex {
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-basis: content;
    }
    #reviews-306 .cs-profile {
        width: 3.125rem;
        height: auto;
        margin-right: 0.75rem;
        border-radius: 50%;
        display: block;
    }
    #reviews-306 .cs-name {
        font-size: clamp(1.25rem, 2vw, 1.5625rem);
        font-weight: 700;
        line-height: 1.2em;
        color: var(--headerColor);
        display: block;
        flex-basis: content;
    }
    #reviews-306 .cs-job {
        font-size: 1rem;
        line-height: 1.5em;
        font-weight: 400;
        width: 12.5rem;
        color: var(--bodyTextColor);
        display: block;
        flex-basis: content;
    }
    #reviews-306 .cs-watermark {
        width: clamp(5.4375rem, 12.2vw, 8.5rem);
        height: auto;
        opacity: 0.09;
        position: absolute;
        bottom: 0;
        right: 1.25rem;
    }
}
@media only screen and (min-width: 48rem) {
    #reviews-306 {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
    }
    #reviews-306 .cs-image {
        width: 44%;
        height: auto;
        max-height: 100%;
        flex: none;
        aspect-ratio: initial;
    }
    #reviews-306 .cs-content {
        padding-left: clamp(4.75rem, 10vw, 8rem);
        padding-right: 2rem;
    }
    #reviews-306 .cs-watermark {
        right: calc(clamp(1rem, 9.5vw, 10.9375rem) * -1);
    }
}
@media only screen and (min-width: 0rem) {
    body.dark-mode #reviews-306 {
        background-color: rgba(0, 0, 0, 0.6);
    }
    body.dark-mode #reviews-306 .cs-review,
    body.dark-mode #reviews-306 .cs-name {
        color: var(--bodyTextColorWhite);
    }
    body.dark-mode #reviews-306 .cs-job {
        color: var(--bodyTextColorWhite);
        opacity: 0.7;
    }
}