<!-- templates/about.jinja -->
{% extends 'base.jinja' %}

{% block title %}About{% endblock %}

{% block page_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dark.css') }}">
{% endblock %}

{% block content %}
{% include 'partials/header_padding.html' %}

{% import 'components/section.html' as ui %}
{{ ui.section(image={"url":"https://i.postimg.cc/pL2kKk4k/research.png",
"alt":"Quantum Minds"},
topper="Mission & Vision",
title="About Quantum Minds",
text="Quantum Minds is a vibrant, student-driven community at the United College of Engineering and Research, dedicated to pushing the boundaries of technology through innovation and collaboration. Our club brings together students from diverse disciplines to work on projects that span across cutting-edge fields such as space technology, defense, artificial intelligence, cybersecurity, and more.",
para=[{"heading":"Mission Statement",
"text":"To foster a vibrant community of interdisciplinary talents, driving breakthroughs in areas such as space technology, defense, AI, and cybersecurity. Through hands-on projects, research, and collaboration, we aim to develop solutions that address real-world challenges and contribute to the advancement of society."},
{"heading":"Our Vision",
"text":"Empowering minds to innovate, collaborate, and create a future where technology bridges the gap between imagination and reality."}]) }}

{% import 'components/photos.html' as ui %}
{{ ui.photos(title="Our Focus Areas",
heading="Innovating Across Diverse Technological Domains",
text="At Quantum Minds, we are dedicated to exploring and pioneering advancements across a range of critical technological fields. From the mysteries of space to the digital realm of cybersecurity, we bring together expertise from various disciplines to solve real-world challenges. Our focus areas include:",
images=[{"url":"https://i.postimg.cc/HxRPv1Gp/ai.webp",
"title":"Artificial Intelligence",
"description":"Innovating intelligent systems and advancing machine learning technologies to solve complex challenges."},
{"url":"https://i.postimg.cc/vZ4xMJCR/field.webp",
"title":"Agricultural Engineering",
"description":"Revolutionizing farming practices through technological advancements, ensuring food security and sustainable practices."},
{"url":"https://i.postimg.cc/rwXVDzp9/jet.webp",
"title":"Defense Technology",
"description":"Developing cutting-edge defense technologies to enhance national security and preparedness."},
{"url":"https://i.postimg.cc/VvwyY0gS/network.webp",
"title":"Cybersecurity",
"description":"Protecting digital ecosystems by developing robust security solutions to combat modern cyber threats."},
{"url":"https://i.postimg.cc/q7mXJPG2/analysis.webp",
"title":"Bio-Medical Engineering",
"description":"Bridging medicine and technology to design innovative healthcare solutions for improved patient care."},
{"url":"https://i.postimg.cc/gcKRGFkj/world.webp",
"title":"Space Technology",
"description":"Exploring advancements in space exploration, aligning with grand ambitions like those of ISRO."},
{"url":"https://i.postimg.cc/7hpbmVnC/robot.webp",
"title":"Robotics",
"description":"Creating autonomous and intelligent robotic systems to revolutionize various industries."},
{"url":"https://i.postimg.cc/65ymZhPr/drone.webp",
"title":"Drone Technology",
"description":"Leveraging drones for diverse applications, from surveillance to precision agriculture."}]) }}

{% include 'partials/objectives.html' %}

{% import 'components/ribbon.html' as ui %}
{{ ui.ribbon(title="Meet The Team",
heading="Team Behind Quantum Minds",
text="Quantum Minds unites students from various disciplines to innovate and tackle real-world challenges, with each member contributing their expertise and creativity.") }}

{% import 'components/team.html' as ui %}
{{ ui.team(heads=[{"image":"https://i.postimg.cc/qMJrbrdX/user.png","name":"Name","position":"Position","instagram":"#","linkedin":"#"},
{"image":"https://i.postimg.cc/qMJrbrdX/user.png","name":"Name","position":"Position","instagram":"#","linkedin":"#"},
{"image":"https://i.postimg.cc/qMJrbrdX/user.png","name":"Name","position":"Position","instagram":"#","linkedin":"#"}],
view_more=True) }}

{% import 'components/section.html' as ui %}
{{ ui.section(image={"url":"https://i.postimg.cc/zGQjxyTn/united-college-of-engineering-research-allahabad.webp",
"alt":"United College of Engineering and Research"},
topper="Shaping the Future of Technology",
title="About UCER",
text="United College of Engineering and Research (UCER) is a premier institution dedicated to delivering high-quality education and fostering innovation in the field of engineering and technology. With a strong focus on research and development, UCER provides an environment where students can explore, experiment, and excel in diverse domains. The college is equipped with state-of-the-art facilities, expert faculty, and an ethos that encourages entrepreneurship, creativity, and problem-solving. UCER is home to students who are not only passionate about learning but are also driven to make a real-world impact through their innovative ideas.",
para=[{"heading":"A Hub for Innovation and Technological Excellence",
"text":"As a part of UCER, Quantum Minds represents the spirit of innovation and excellence that defines the college, providing students with the opportunity to engage in cutting-edge projects, industry collaborations, and hands-on learning."}],
link={"url":"http://www.united.ac.in","text":"Read More"}) }}

{% endblock %}