<!-- templates/about.html -->
{% extends 'base.jinja' %}

{% block title %}About{% endblock %}

{% block page_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dark.css') }}">
{% endblock %}

{% block content %}
{% include 'components/header_padding.html' %}

{% import 'components/internal_section.html' as ui %}
{{ ui.section(img_alts=["reading","search"],
img_urls=["https://i.postimg.cc/N0wnLx1F/reading.webp","https://i.postimg.cc/YCN3DBW2/search.webp"],
topper="Mission & Vision",
title="About Quantum Minds",
text="Quantum Minds is a vibrant, student-driven community at the United College of Engineering and Research, dedicated to pushing the boundaries of technology through innovation and collaboration. Our club brings together students from diverse disciplines to work on projects that span across cutting-edge fields such as space technology, defense, artificial intelligence, cybersecurity, and more.",
lists={"Mission Statement":"To foster a vibrant community of interdisciplinary talents, driving breakthroughs in areas such as space technology, defense, AI, and cybersecurity. Through hands-on projects, research, and collaboration, we aim to develop solutions that address real-world challenges and contribute to the advancement of society.","Our Vision":"Empowering minds to innovate, collaborate, and create a future where technology bridges the gap between imagination and reality."}) }}

{% include 'partials/areas.html' %}
{% include 'partials/objectives.html' %}
{% include 'partials/team.html' %}

{% import 'components/external_section.html' as ui %}
{{ ui.section(img_url="https://i.postimg.cc/zGQjxyTn/united-college-of-engineering-research-allahabad.webp",
img_alt="United College of Engineering and Research",
topper="About UCER",
title="Shaping the Future of Technology",
heading='A Hub for <span class="cs-color">Innovation</span> and <span class="cs-color">Technological Excellence</span>',
text="United College of Engineering and Research (UCER) is a premier institution dedicated to delivering high-quality education and fostering innovation in the field of engineering and technology. With a strong focus on research and development, UCER provides an environment where students can explore, experiment, and excel in diverse domains. The college is equipped with state-of-the-art facilities, expert faculty, and an ethos that encourages entrepreneurship, creativity, and problem-solving. UCER is home to students who are not only passionate about learning but are also driven to make a real-world impact through their innovative ideas. As a member of UCER, Quantum Minds Club represents the spirit of innovation and excellence that defines the college, providing students with the opportunity to engage in cutting-edge projects, industry collaborations, and hands-on learning.",
url="http://www.united.ac.in",
url_text="Visit UCER Website") }}

{% endblock %}