<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Quantum Minds{% endblock %}</title>
    
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    
    <!-- Dark CSS -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/dark.css') }}"> -->
    
    <!-- Page-Specific CSS -->
    {% block page_style %}
    <!-- Page-specific styles go here -->
    {% endblock %}
</head>
<body>
    <!-- Include Header -->
    {% include 'components/header.html' %}

    <main>
        {% block content %}
        <!-- Content specific to each page -->
        {% endblock %}
    </main>

    <!-- Include Footer -->
    {% include 'components/footer.html' %}

    {% block page_script %}
    <!-- Page-specific scripts go here -->
    {% endblock %}
</body>
</html>
