<!-- templates/base.jinja -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% from 'includes/global.meta.jinja' import load_global_meta %}
    {{ load_global_meta() }}
    
    {% from 'includes/global.link.jinja' import load_global_links %}
    {{ load_global_links() }}
    
    <title>{% block title %}Quantum Minds{% endblock %}</title>
    
    {% from 'includes/global.css.jinja' import load_global_css %}
    {{ load_global_css() }}

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    
    {% block page_style %}
        <!-- Page-Specific CSS -->
    {% endblock %}
</head>
<body>
    <!-- Include Loader Components -->
    {% include 'partials/_loader.html' %}

    <!-- Include Header -->
    {% include 'partials/_header.html' %}

    <main>
        {% block content %}
            <!-- Content specific to each page -->
        {% endblock %}
    </main>

    <!-- Include Footer -->
    {% include 'partials/_footer.html' %}

    <!-- Core Dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
    {% block page_script %}
        <!-- Page-Specific Scripts -->
    {% endblock %}

    {% from 'includes/global.js.jinja' import load_global_js %}
    {{ load_global_js() }}
</body>
</html>
