<!-- templates/contact.jinja -->
{% extends 'base.jinja' %}

{% block title %}Contact us{% endblock %}

{% block page_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dark.css') }}">
{% endblock %}

{% block content %}
{% include 'partials/header_padding.html' %}
{% include 'partials/contact_form.html' %}
{% endblock %}