<!-- templates/explore.jinja -->
{% extends 'base.jinja' %}

{% block title %}Explore{% endblock %}

{% block page_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dark.css') }}">
{% endblock %}

{% block content %}
{% include 'partials/header_padding.html' %}

{% import 'components/ribbon.html' as ui %}
{{ ui.ribbon(title="Meet The Team",
heading="Team Behind Quantum Minds",
text="Quantum Minds unites students from various disciplines to innovate and tackle real-world challenges, with each member contributing their expertise and creativity.") }}

{% import 'components/team.html' as ui %}
{{ ui.team(heads=[{"image":"https://i.postimg.cc/qMJrbrdX/user.png","name":"Name","position":"Position","instagram":"#","linkedin":"#"},
{"image":"https://i.postimg.cc/qMJrbrdX/user.png","name":"Name","position":"Position","instagram":"#","linkedin":"#"},
{"image":"https://i.postimg.cc/qMJrbrdX/user.png","name":"Name","position":"Position","instagram":"#","linkedin":"#"},
{"image":"https://i.postimg.cc/qMJrbrdX/user.png","name":"Name","position":"Position","instagram":"#","linkedin":"#"},
{"image":"https://i.postimg.cc/qMJrbrdX/user.png","name":"Name","position":"Position","instagram":"#","linkedin":"#"},
{"image":"https://i.postimg.cc/qMJrbrdX/user.png","name":"Name","position":"Position","instagram":"#","linkedin":"#"},
{"image":"https://i.postimg.cc/qMJrbrdX/user.png","name":"Name","position":"Position","instagram":"#","linkedin":"#"},
{"image":"https://i.postimg.cc/qMJrbrdX/user.png","name":"Name","position":"Position","instagram":"#","linkedin":"#"}]) }}

{% import 'components/photos.html' as ui %}
{{ ui.photos(title="Explore Our Visual Journey",
heading="Capturing Moments of Innovation",
text="Discover how Quantum Minds Club is shaping the future through hands-on projects, research, and community events.",
images=[{"url":"https://i.postimg.cc/HxRPv1Gp/ai.webp"},
{"url":"https://i.postimg.cc/vZ4xMJCR/field.webp"},
{"url":"https://i.postimg.cc/rwXVDzp9/jet.webp"},
{"url":"https://i.postimg.cc/VvwyY0gS/network.webp"},
{"url":"https://i.postimg.cc/q7mXJPG2/analysis.webp"},
{"url":"https://i.postimg.cc/gcKRGFkj/world.webp"},
{"url":"https://i.postimg.cc/7hpbmVnC/robot.webp"},
{"url":"https://i.postimg.cc/65ymZhPr/drone.webp"}]) }}

{% endblock %}