<!-- templates/explore.jinja -->
{% extends 'base.jinja' %}

{% block title %}Explore{% endblock %}

{% block page_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dark.css') }}">
{% endblock %}

{% block content %}
{% include 'components/header_padding.html' %}
{% import 'components/ribbon.html' as ui %}
{{ ui.ribbon(title="Meet The Team",
heading="Team Behind Quantum Minds",
text="Quantum Minds unites students from various disciplines to innovate and tackle real-world challenges, with each member contributing their expertise and creativity.") }}
{% import 'components/members.html' as ui %}
{{ ui.members(heads=[["https://i.postimg.cc/qMJrbrdX/user.png","Name","Position","#","#"],
["https://i.postimg.cc/qMJrbrdX/user.png","Name","Position","#","#"],
["https://i.postimg.cc/qMJrbrdX/user.png","Name","Position","#","#"],
["https://i.postimg.cc/qMJrbrdX/user.png","Name","Position","#","#"],
["https://i.postimg.cc/qMJrbrdX/user.png","Name","Position","#","#"]]) }}
{% include 'partials/gallery.html' %}
{% endblock %}