<!-- templates/explore.jinja -->
{% extends 'base.jinja' %}

{% block title %}Explore{% endblock %}

{% block page_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dark.css') }}">
{% endblock %}

{% block content %}
{% include 'partials/header_padding.html' %}

{% import 'components/ribbon.html' as ui %}
{{ ui.ribbon(title="Meet The Team",
heading="Team Behind Quantum Minds",
text="Quantum Minds unites students from various disciplines to innovate and tackle real-world challenges, with each member contributing their expertise and creativity.") }}

{% import 'components/members.html' as ui %}
{{ ui.members(heads=[["https://i.postimg.cc/qMJrbrdX/user.png","Name","Position","#","#"],
["https://i.postimg.cc/qMJrbrdX/user.png","Name","Position","#","#"],
["https://i.postimg.cc/qMJrbrdX/user.png","Name","Position","#","#"],
["https://i.postimg.cc/qMJrbrdX/user.png","Name","Position","#","#"],
["https://i.postimg.cc/qMJrbrdX/user.png","Name","Position","#","#"]]) }}

{% import 'components/photos.html' as ui %}
{{ ui.photos(title="Explore Our Visual Journey",
heading="Capturing Moments of Innovation",
text="Discover how Quantum Minds Club is shaping the future through hands-on projects, research, and community events.",
images=[["https://i.postimg.cc/HxRPv1Gp/ai.webp",
"Artificial Intelligence",
"Innovating intelligent systems and advancing machine learning technologies to solve complex challenges."],
["https://i.postimg.cc/vZ4xMJCR/field.webp",
"Agricultural Engineering",
"Revolutionizing farming practices through technological advancements, ensuring food security and sustainable practices."],
["https://i.postimg.cc/rwXVDzp9/jet.webp",
"Defense Technology",
"Developing cutting-edge defense technologies to enhance national security and preparedness."],
["https://i.postimg.cc/VvwyY0gS/network.webp",
"Cybersecurity",
"Protecting digital ecosystems by developing robust security solutions to combat modern cyber threats."],
["https://i.postimg.cc/q7mXJPG2/analysis.webp",
"Bio-Medical Engineering",
"Bridging medicine and technology to design innovative healthcare solutions for improved patient care."],
["https://i.postimg.cc/gcKRGFkj/world.webp",
"Space Technology",
"Exploring advancements in space exploration, aligning with grand ambitions like those of ISRO."],
["https://i.postimg.cc/7hpbmVnC/robot.webp",
"Robotics",
"Creating autonomous and intelligent robotic systems to revolutionize various industries."],
["https://i.postimg.cc/65ymZhPr/drone.webp",
"Drone Technology",
"Leveraging drones for diverse applications, from surveillance to precision agriculture."]]) }}

{% endblock %}