<!-- templates/verify.jinja -->
{% extends 'base.jinja' %}

{% block title %}Certificate Verification{% endblock %}

{% block page_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dark.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/quote.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/section.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/button.css') }}">
{% endblock %}

{% block content %}
{% include 'partials/header_padding.html' %}

{% if error %}
    {% import 'components/section.html' as ui %}
    {{ ui.section(image={"url":"https://i.postimg.cc/mDhCXr6f/404.png",
    "alt":"404 error"},
    text='We could not find any record matching the provided information. If the issue persists, contact our support team at <a href="mailto:quantummindsclubsocial@gmail.com">support@quantumminds</a>.',
    button={"url":url_for('contact_routes.contact'),
    "label":"contact us",
    "image":"https://i.postimg.cc/Z5Z88B07/share-button.png",
    "script":"#",
    "alt":"Contact Us",
    "text":"Contact Us"}) }}
{% else %}
    <section id="services-564">
        <div class="cs-container">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="data:image/png;base64,{{ certificate }}">
                <source media="(min-width: 601px)" srcset="data:image/png;base64,{{ certificate }}">
                <img loading="lazy" decoding="async" src="data:image/png;base64,{{ certificate }}" alt="Quantum Minds Certificate" width="630" height="528" aria-hidden="true">
            </picture>
            <div class="cs-content">
                <span class="cs-topper cs-color">Quantum Minds Workshop Certificate</span>
                <h2 class="cs-title">Congratulations on Your Achievement!</h2>
                <p class="cs-text">Well done on successfully completing workshop on <strong>{{ course }}</strong> hosted by <strong>Quantum Minds</strong>! This certificate is a testament to your dedication, passion for learning, and ability to embrace innovative ideas. Your participation marks a significant step in your journey of innovation and learning and makes you ready to showcase your skills to the world. Keep pushing boundaries and making strides in your journey of knowledge!</p>
                <a href="{{ url_for('verify_routes.verify_certificate') }}?cid={{ cid }}&download=true" class="cs-button-4" aria-label="button">
                    <img src="https://i.postimg.cc/Z5Z88B07/share-button.png" alt="button" style="vertical-align: middle; margin-right: 8px; width: 20px; height: auto;" />
                    Share Your Achievement
                </a>
            </div>
        </div>
    </section>

    {% import 'components/quote.html' as ui %}
    {{ ui.quote(image=[{"url":"https://i.postimg.cc/fbzCPj6S/bg.webp",
    "alt":"Certificate"}],
    text='<strong>' ~ name ~ '</strong> successfully completed <strong>' ~ course ~ ' Workshop</strong> on <strong>' ~ date ~ '</strong>.',
    person=[{"image":profile,
    "name":instructor,
    "description":"Workshop Instructor"}]) }}

{% endif %}

{% endblock %}