<!-- components/banner.html -->
{% macro banner(img_url="",img_alt="",error=True,content='',master_img=None,master_img_alt=None,master_title="",error_content='') %}
    {% block page_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/banner.css') }}">
    {% endblock %}
    <section id="reviews-306">
        <picture class="cs-image">
            <source media="(max-width: 600px)" srcset="{{ img_url }}">
            <source media="(min-width: 601px)" srcset="{{ img_url }}">
            <img aria-hidden="true" loading="lazy" decoding="async" src="{{ img_url }}" alt="{{ img_alt }}" width="842" height="548">
        </picture>
        <div class="cs-content">
            {% if not error %}    
                <img class="cs-quote" aria-hidden="true" loading="lazy" decoding="async" src="https://i.postimg.cc/9MBVq97P/top-quote.png" alt="quote" width="40" height="33">
                <span class="cs-review">
                    {{ content | safe }}
                </span>
                <div class="cs-info">
                    <img class="cs-profile" aria-hidden="true" loading="lazy" decoding="async" src="{{ master_img }}" 
                    alt="{{ master_img_alt }}" width="50" height="50">
                    <div class="cs-flex">
                        <span class="cs-name">
                            {{ master_img_alt }}
                        </span>
                        <span class="cs-job">{{ master_title }}</span>
                    </div>
                </div>
                <img class="cs-watermark" aria-hidden="true" loading="lazy" decoding="async" src="https://i.postimg.cc/9MBVq97P/top-quote.png" alt="quote" width="136" height="120">
            {% else %}
                <span class="cs-review">
                    {{ error_content | safe }}
                </span>
            {% endif %}
        </div>
    </section>
{% endmacro %}