<style>
/*-- -------------------------- -->
<---           Quote            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #quote-560 {
        padding: 3rem;
        background-color: rgb(255, 255, 255);
    }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode #quote-560 {
        background-color: rgba(0, 0, 0, 0);
    }
}
</style>

<!-- ============================================ -->
<!--                   Quote                      -->
<!-- ============================================ -->

<section id="quote-560"></section>