<!-- components/internal_section.html -->
{% macro section(img_alts=[],img_urls=[],topper="",title="",text="",lists={"list_heading":"list_text"}) %}
    {% block page_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/internal_section.css') }}">
    {% endblock %}

    <section id="sbs-1099">
        <div class="cs-container">
            <div class="cs-image-group">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="{{ img_urls[0] }}">
                    <source media="(min-width: 601px)" srcset="{{ img_urls[0] }}">
                    <img loading="lazy" decoding="async" src="{{ img_urls[0] }}" alt="{{ img_alts[0] }}" width="720" height="1024">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="{{ img_urls[1] }}">
                    <source media="(min-width: 601px)" srcset="{{ img_urls[1] }}">
                    <img loading="lazy" decoding="async" src="{{ img_urls[1] }}" alt="{{ img_alts[1] }}" width="720" height="1024">
                </picture>
                <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes-short.svg" alt="stripes" width="548" height="487" aria-hidden="true">
            </div>
            <div class="cs-content">
                <span class="cs-topper">{{ topper }}</span>
                <h2 class="cs-title">{{ title }}</h2>
                <p class="cs-text">{{ text }}</p>
                <ul class="cs-ul">
                    {% for list_heading,list_text in lists.items() %}
                        <li class="cs-li">
                            <h3 class="cs-h3">{{ list_heading }}</h3>
                            <p class="cs-li-text">{{ list_text }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
{% endmacro %}