<!-- components/members.html -->
{% macro members(heads=[["img_url","name","position","social1","social2"]]) %}
    {% block page_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/members.css') }}">
    {% endblock %}

    <section id="meet-team-1765">
        <div class="cs-container">
            <ul class="cs-card-group">
                {% for head in heads %}
                    <li class="cs-item">
                        <div class="cs-image-group">
                            <picture class="cs-picture">
                                <source media="(max-width: 600px)" srcset="{{ head[0] }}">
                                <source media="(min-width: 601px)" srcset="{{ head[0] }}">
                                <img loading="lazy" decoding="async" src="{{ head[0] }}" alt="person" width="305" height="440">
                            </picture>
                            <div class="cs-social">
                                <a href="{{ head[4] }}" class="cs-link" aria-label="Instagram" target="_blank" rel="noopener">
                                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram-grey.svg" alt="instagram" width="20" height="20">
                                </a>
                                <a href="{{ head[3] }}" class="cs-link" aria-label="LinkedIn" target="_blank" rel="noopener">
                                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/linkedin-grey.svg" alt="linkedin" width="20" height="20">
                                </a>
                            </div>
                        </div>
                        <div class="cs-info">
                            <span class="cs-name">{{ head[1] }}</span>
                            <span class="cs-job">{{ head[2] }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endmacro %}