<!-- components/photos.html -->
{% macro photos(title="",heading="",text="",images=[]) %}
    {% block page_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/photos.css') }}">
    {% endblock %}

    <section id="services-1628">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">{{ title }}</span>
                    <h2 class="cs-title">{{ heading }}</h2>
                </div>
                <p class="cs-text">{{ text }}</p>
            </div>
            <ul class="cs-card-group">
            {% for image in images %}
                <li class="cs-item">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ image.url }}">
                            <source media="(min-width: 601px)" srcset="{{ image.url }}">
                            <img loading="lazy" decoding="async" src="{{ image.url }}" alt="image" width="413" height="420">
                        </picture>
                        {% if image.title %}
                            <h3 class="cs-h3">{{ image.title }}</h3>
                        {% endif %}
                        {% if image.description %}
                            <p class="cs-item-text">{{ image.description }}</p>
                        {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </section>
{% endmacro %}
