<!-- components/photos.jinja -->
{% macro photos(title="",heading="",text="",images=[]) %}
    {% block page_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/photos.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    {% endblock %}

    <section id="services-1628" data-component="photo-carousel">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">{{ title }}</span>
                    <h2 class="cs-title">{{ heading }}</h2>
                </div>
                <p class="cs-text">{{ text }}</p>
            </div>
            
            <!-- Slideshow for small screens -->
            <div class="swiper photo-carousel">
                <div class="swiper-wrapper">
                    {% for image in images %}
                    <div class="swiper-slide">
                        <div class="cs-item">
                            <picture class="cs-picture">
                                <img loading="lazy" decoding="async" src="{{ image.url }}" alt="image" width="413" height="420">
                            </picture>
                            {% if image.title %}
                                <h3 class="cs-h3">{{ image.title }}</h3>
                            {% endif %}
                            {% if image.description %}
                                <p class="cs-item-text">{{ image.description }}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
            
            <!-- Grid for wide screens -->
            <ul class="photo-grid">
                {% for image in images %}
                <li class="grid-item">
                    <picture class="cs-picture">
                        <img loading="lazy" decoding="async" src="{{ image.url }}" alt="image" width="413" height="420">
                    </picture>
                    {% if image.title %}
                        <h3 class="cs-h3">{{ image.title }}</h3>
                    {% endif %}
                    {% if image.description %}
                        <p class="cs-item-text">{{ image.description }}</p>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endmacro %}
