<!-- components/ribbon.html -->
{% macro ribbon(title="",heading="",text="") %}
    {% block page_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/ribbon.css') }}">
    {% endblock %}

    <section id="meet-team-220">
        <div class="cs-container">
            <div class="cs-content">
                <img class="cs-graphic" aria-hidden="true" loading="lazy" decoding="async" src="https://i.postimg.cc/43DMgV2c/Ornament.png" alt="chef" width="456" height="31">
                <span class="cs-topper">{{ title }}</span>
                <h2 class="cs-title">{{ heading }}</h2>
                <p class="cs-text">{{ text }}</p>
            </div>
        </div>
    </section>
{% endmacro %}
