<!-- components/external_section.html -->
 {% macro section(image={},topper="",title="",para=[],text="",link={},button=[]) %}
    {% block page_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/section.css') }}">
    {% endblock %}

    <section id="services-564">
        <div class="cs-container">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="{{ image.url }}">
                <source media="(min-width: 601px)" srcset="{{ image.url }}">
                <img loading="lazy" decoding="async" src="{{ image.url }}" alt="{{ image.alt }}" width="630" height="528" aria-hidden="true">
            </picture>
            <div class="cs-content">
                {% if topper %}
                    <span class="cs-topper cs-color">{{ topper }}</span>
                {% endif %}
                <h2 class="cs-title">{{ title }}</h2>
                <p class="cs-text">{{ text | safe }}</p>
                {% for p in para %}
                    <h3 class="cs-h3"><span class="cs-color">{{ p.heading }}</span></h3>
                    <p class="cs-text">{{ p.text }}</p>
                {% endfor %}
                {% if link %}
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <a class="cs-h3" href="{{ link.url }}" target="_blank" style="text-decoration: none;">{{ link.text }}
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg" alt="arrow" width="16" height="18"></a>
                        </li>
                    </ul>
                {% endif %}
                {% if button %}
                    {% import 'components/button.html' as ui %}
                    {{ ui.button(label=button[0].label,
                    img_url=button[0].img_url,
                    script=button[0].script,
                    alt_text=button[0].alt_text,
                    text=button[0].text) }}    
                {% endif %}
            </div>
        </div>
    </section>
{% endmacro %}