<!-- components/single_action.html -->
{% macro action(title="",heading="",content='',button_label="",button_img_url="",button_script="",button_alt_text="",button_text="") %}
    {% block page_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/single_action.css') }}">
    {% endblock %}

    <section id="content-1450">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">{{ title }}</span>
                <h1 class="cs-title">{{ heading }}</h1>
                <p class="cs-text">
                    {{ content | safe }}
                </p>
                {% import 'components/button.html' as ui %}
                {{ ui.button(label=button_label,
                img_url=button_img_url,
                script=button_script,
                alt_text=button_alt_text,
                text=button_text) }}
            </div>
        </div>
    </section>
{% endmacro %}