<!-- components/team.html -->
{% macro team(heads=[],view_more=False) %}
    {% block page_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/team.css') }}">
    {% endblock %}

    <section id="meet-team-221">
        <div class="cs-container">
            <ul class="cs-card-group">
                {% for head in heads %}
                    <li class="cs-item">
                        <picture class="cs-picture">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="{{ head.image }}" alt="portrait" width="275" height="132">
                        </picture>
                        <span class="cs-name">{{ head.name }}</span>
                        <span class="cs-job-title">{{ head.position }}</span>
                        <div class="cs-social">
                            <a href="{{ head.instagram }}" class="cs-link" aria-label="Instagram" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://i.postimg.cc/NFBtNmws/instagram-167-svgrepo-com-2.png" alt="instagram" width="15" height="13">
                            </a>
                            <a href="{{ head.linkedin }}" class="cs-link" aria-label="Linked in" target="_blank" rel="noopener">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/linkedin-grey.svg" alt="linkedin" width="17" height="16">
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% if view_more %}
                {% import 'components/button.html' as ui %}
                {{ ui.button(url=url_for('explore_routes.explore'),
                label="view more",
                img_url="https://i.postimg.cc/XJC4ZrHc/person-svgrepo-com.png",
                alt_text="members",
                text="View More") }}
            {% endif %}
        </div>
    </section>
{% endmacro %}